{% extends 'aplicacion/home.html' %}


{% block titulo %}
    <h1 class="mb-5"> Cursos </h1>
{% endblock titulo %}
    

{% block contenido %}

    <table class="table table-striped">
        <thead>
             <tr>
                <th>ID</th>
                <th> Nombre del Curso<th>
                <th>Comision<th>
            <tr>
        </thead>
        <tbody>
    {% for c in cursos %}
             <tr>
                <td>{{c.id}}<td>
                <td>{{c.nombre}}<td>
                <td>{{c.comision}}<td>
            <tr>
    {% endfor %}
        </tbody>
    </table>

{% endblock contenido %}
    