{% extends 'aplicacion/home.html' %}


{% block titulo %}
    <h1 class="mb-5"> Profesores </h1>
{% endblock titulo %}
    

{% block contenido %}
<table class="table table-striped">
    <thead>
         <tr>
            <th>Id</th>
            <th>Nombre<th>
            <th>Apellido<th>
            <th>Email<th>
            <th>Profesion<th>
        <tr>
    </thead>
    <tbody>
{% for p in profesores %}
         <tr>
            <td>{{c.id}}<td>
            <td>{{c.nombre}}<td>
            <td>{{c.apellido}}<td>
            <td>{{c.email}}<td>
            <td>{{c.profesion}}<td>
        <tr>
{% endfor %}
    </tbody>
</table>
{% endblock contenido %}